<%- include("partials/header") -%>

<div class="top-container">
    <h1 id="heading">I'm Nicole Dezoraive</h1>
    <h2>Software Developer<h2>
  </div>
  <div class="about-text">
    <img class="nicol-profile-img" src="images/nicole.png" alt="">
    <h2>Hello.</h2>
    <p>
      <%=paragraphTextAbout%>
    </p>

</div>

<%- include("partials/footer") -%>
